<div class="container">
  <div class="hero-unit">
    <div class="center">
      <h1>To-Do List</h1>
      <%=link_to 'Sign up', signup_path, class: 'btn btn-large btn-primary' %>
      <%= link_to 'Sign in', signin_path, class: 'btn btn-large btn-primary' %>
    </div>
  </div>
  <div class="center">Source available at http://www.github.com/gpallotta/todo_list</div>
</div>
