<% if signed_in? %>
  <div class="span8 right-panel">
    <div class="list-header">
      <div class="task-form header"><%= render 'shared/task_form' %></div>
      <div class="task-stats header"><%= current_user.tasks.count %></div>
    </div>
    <ul id="tasks">
      <%= render :partial => @tasks %>
    </ul>
  </div>
<% else %>
  <%= render 'logged_out' %>
<% end %>
