<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :html => {:class => "user_form"} do |f| %>
      <%= render 'user_fields', f: f%>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
