<li id="<%= feed_item.id %>">
  <%= link_to toggle_done_task_path(feed_item), :method => :put do %>
    <span class="task-item"><%= feed_item.title %></span>
  <% end %>
  <%= feed_item.due_date %> 
</li>
