@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin-top: 80px;
}
ul {
  list-style: none;
}

ul li {
  margin-top: 30px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

//typography

h1 {
  padding-bottom: 10px;
}

.center {
  text-align: center;
}


//forms

.user_form {
  max-width: 350px;
  max-height: 350px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #eaeaea;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.user_form input.user_form_text{
  border: 1px solid #bbb;
  border-radius: 10px;
  width: 80%;
  height: 40px;
  margin-bottom: 15px;
  font-size: 16px;
  @include box_sizing;
}

label {
  font-size: 25px;
}

//sidebar

ul.nav li {
  width: 50%;
  font-size: 20px;
  margin: 10px;
}

ul.nav li:hover {
  font-weight: bold;
}

.current-link {
  font-weight: bold;
  background-color: #C9C9C9;
}

//content pane on right

.right-panel {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
}

.list-header {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  width: 550px;
}

.task-stats {
  margin-left: 60px;
  margin-top: 9px;
  font-weight: bold;
  font-size: 35px;
}

.task-item {
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  width: 500px;
  display: block;
}

.header {
  float: left;
}

.right {
  float: right;
}


/* profile page */

.page-header {
  display: inline-block;
  width: 600px;
}

.edit-button {
  float: right;
}

.float-left {
  float: left;
  clear: both;
}

/* task due date classes */

.no_date {
  background-color: #C9C9C9;
}

.due_today {
  background-color: #FFFF63;
}

.overdue {
  background-color: #FA8E8E;
}

.due_later {
  background-color: #8EFA92;
}
