<div class="span3">
  <ul class="nav nav-list sidebar">
    <li class="nav-header">Navigation</li>

    <li><%= link_to 'Home', tasks_path, class: cp(tasks_path) %></li>
    <li><%= link_to 'Profile', current_user, class: cp(user_path(current_user))%></li>
    <li><%= link_to 'Signout', signout_path, :method => :delete, class: cp(signout_path) %></li>

  </ul>
</div>
