<div class="span3">
  <ul class="nav nav-list sidebar">
    <li class="nav-header">Navigation</li>
    <li><%= link_to 'Home', tasks_path %></li>
    <li><%= link_to 'Profile', current_user %></li>
  <li><%= link_to 'Sign out', signout_path, method: "delete" %></li>
  </ul>
</div>
